/* BASIC */

html,
body {
  height: 100%;
}

html {
  background-image: linear-gradient(
    to right,
    lightgray,
    lightgray 50%,
    white 50%,
    white
  );
  background-size: cover;
}

.login {
  width: 500px;
  height: 200px;
  text-align: center;
  border: solid 2px black;
  align-self: center;
}

.login > *,
.choice-group,
.poll-results,
.question-tile {
  padding: 15px;
}

.login label {
  font-size: large;
  font-weight: bold;
}

.active {
  background: black;
  padding: 10px;
  border-radius: 10px;
  color: white;
}

.header {
  font-size: xx-large;
  text-align: center;
  padding: 10px;
}

.login .loginDropdown {
  border: 1px solid black;
}

.login button {
  width: 200px;
  font-weight: bold;
  padding-right: 40px;
}

.nav li:first-child,
ul {
  padding-left: 0;
}

li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}

.flex {
  display: flex;
}

.center {
  justify-content: center;
}

.wrap {
  flex-wrap: wrap;
}

.column {
  flex-flow: column;
}

.large {
  font-size: large;
}

.bolder {
  font-weight: bolder;
}

.nav-items {
  width: 100%;
}

.nav {
  width: 80%;
}

.persona,
.logout {
  text-decoration: underline;
  font-weight: bold;
  padding: 7px 7px 0 0;
  color: darkred;
  text-align: center;
}

.container {
  flex-flow: column;
}

.sections {
  justify-content: center;
  border: 1px solid black;
}

.sections h1 {
  padding: 10px;
  text-decoration: underline;
}

.question {
  background: darkslateblue;
  padding: 5px;
  color: white;
  border-radius: 5px;
  width: 250px;
}

.question button {
  color: black;
  text-decoration: underline;
  background: black;
}

.question a {
  color: white;
}

.poll-results {
  background: black;
  color: white;
  width: max-content;
  margin-top: 30px;
}

.poll-results h2 {
  font-style: italic;
  text-decoration: underline;
}

.leaderboard table {
  border-collapse: collapse;
}

.leaderboard,
.leaderboard-container h1 {
  text-align: center;
}

.leaderboard table,
th,
td {
  border: 1px solid black;
  padding: 10px;
  background: darkslateblue;
  color: white;
}

img {
  width: 50px;
  height: 50px;
}
